:root {
  --softblue: #2a2185;
  --blue:#302D59;
  --white: #fff;
  --gray: #F5F5F5;
  --black1: #222;
  --black: #999;
}

*{
  font-family: "Ubuntu" , sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height:100vh;
  overflow-x:hidden;
}

.container{
  position: relative;
  width: 100%;
}

.main{
  position: absolute;
  width: calc(100% - 240px);
  left: 240px;
  min-height: 100vh;
  background-color: var(--white);
  transition: .5s;
}

.titleOne{
  font-size: 22px;
  font-weight: 600;
  color: var(--blue);
}

/* ============ Table style ============ */


