/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-detenteur .table{
    width: 100%;
}



.container-detenteur .talbe_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(240, 240, 240) ;
}
.talbe_header p {
    color: #000000;
}

.container-detenteur  button{
    outline: none;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 7px;
    color: #ffffff;
}

.container-detenteur td button:nth-child(1){
    background-color:var(--blue);
}
.container-detenteur td button:nth-child(2){
    background-color: #f80000;
}

.container-detenteur .add_new{
    padding: 10px 20px ;
    color: #ffffff;
    background-color:var(--blue);
}

.container-detenteur th , td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    
}



.container-detenteur .table_section{
    height: 500px;
    overflow: auto;
}
.container-detenteur table{
    width: 100%;
    table-layout: fixed;
   
}
.container-detenteur .table_section{
    height: 100%;
    table-layout: fixed;
}

.container-detenteur thead th {
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

.container-detenteur td img{
    height: 60px;
    width: 10px 20px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #ced0d2;
}

/* .container-detenteur tr:hover td {
    color:var(--blue);
    cursor: pointer;
    background-color: #f6f9fc;
} */
/*  
.container-detenteur ::placeholder{
    color:var(--blue);
}

.container-detenteur  table .icon{
    font-size: 17px;
}

.container-detenteur table .tdbtns{
    display: flex;
    gap: 10px;
} */

/* ========= style form detenteur ========= */

/* .headformDetenteur .icon{
    color: var(--red);
    font-size: 30px;
}

.table_section thead tr td:last-child{
    text-align: right;
} */
/* .table_section thead { */
    /* background-color: rgba(65, 70, 147, .9); */
    /* color: var(--blue);
} */





/* .table_section .row  span{
    text-align: right;
    display: flex;
    justify-content: end;
} 
.table_section th:first-child{
    text-align: left;
}
.table_section th:last-child{
    text-align: right;
} */ 




.bodyformDetenteur  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #495057; /* Darker gray for labels */
  }
  
  .bodyformDetenteur  input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da; /* Light gray border */
    border: 1px solid #616366; /* Light gray border */

    background-color: #fff;
    color: #495057;
  }
  
  .bodyformDetenteur input::placeholder {
    color: #6c757d; /* Lighter gray for placeholders */
  }
  
  .bodyformDetenteur  input:focus {
    outline: none;
    border-color: #80bdff; /* Light blue focus border */
}


#td-right{
    text-align: left;
}
/* .container-detenteur input{
    padding: 10px 20px ;
    margin: 0 10px;
    border: 1px solidvar(--blue);
    border-radius: 6;
} */