.loginPage{
    height: 100vh;
    margin: auto;
    overflow: hidden;
    box-shadow: 0.7px 50px rgb(214, 223, 213);
    /* background-color: var(--greyTextdark); */
}
.loginPage .container{
    height: auto;
    padding: 5px 4px;
    width: 30%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--whiteColor);
}



.loginPage .btn .icon{
   margin-left: .5rem;
}

.loginPage .btn:hover{
    color: va;
 }

 .loginPage .formDiv{
    display: flex;
    margin: auto;
    flex-direction: column;
    /* gap: 1.5rem; */
    transform: translateY(-1rem);
    
}
 .loginPage .formDiv .headerDiv{
     text-align: center;
     padding: 1.5rem 0;


}
 .loginPage .formDiv .headerDiv img{
     width: 60px;
     padding-bottom: .5rem;
}
.loginPage .formDiv .headerDiv h3{
     font-size: 25px;
     color: var(--blackColor);
     font-weight: 600;
}
.loginPage .form{
   gap: 1rem;
}
.loginPage .form .inputDiv .icon{
   color: var(--greyTextdark);
}
.loginPage .form .inputDiv input{    
    background: none;
    outline: none;
    border: none;
    width: 200px;
 }
.loginPage .form .inputDiv label{    
    color: var(--blackColor);
    font-size: 400;
    padding: .5rem 0;
    display: block;
 }


 .loginPage .form .inputDiv .input{
    gap: .5rem;
    padding: 1rem;
    background: var(--inputColor);
    border-radius: 10px;
    border: 1px solid var(--greyTextdark);
 }

 .loginPage .form .btn{
    padding: .8rem;
    background: var(--blue);
    border-radius: 10px;
    color: var(--whiteColor);
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    gap: .5rem;
    transition: .3s ease;
    outline: none;
    border: none;
    cursor: pointer;
 }
 .loginPage .form .btn .icon{
    font-size: 25px;
    transition: .3s ease;
 }
 .loginPage .form .btn:hover{
    background: var(--lighterBlue);
    color: var(--blackColor);
 }
 .loginPage .form .btn:hover .icon {
    color: var(--blackColor);
    transition: .3 ease;
}
 .loginPage .forgotPassword {
    font-size: 13px;
    color: var(--blackColor);
    opacity: .7;
    text-align: center;
}
 .loginPage .forgotPassword a {
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
}
